**/.DS_Store
target
out/
.settings
.classpath
.project
*.class
.idea
*.iml
*.ipr
*.iws
.gradle
.externalToolBuilders
.myeclipse
bin
classes
.mymetadata
.metadata
rebel.xml
.rebel.xml.bak


*.log

*~
*.swp
*.dll
*.exe

